
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700");
*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  user-select: none;
}
body{
  background: #dfe9f5;
}
.container{
  display: flex;
}
nav{
  position: relative;
  top: 0;
  bottom: 0;
  height: 100vh;
  left: 0;
  background: #fff;
  width: 428px;
  overflow: hidden;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
.logo{
  text-align: center;
  display: flex;
  margin: 10px 0 0 10px;
}
.logo img{
  width: 45px;
  height: 45px;
  border-radius: 50%;
}
.logo span{
  font-weight: bold;
  padding-left: 15px;
  font-size: 18px;
  text-transform: uppercase;
}
a{
  color: rgb(85, 83, 83);
  font-size: 14px;
  display: table;
  width: 280px;
  padding: 10px;
}

.container li a:hover{
  background: #eee;
}


nav .fas{
  position: relative;
  width: 70px;
  height: 40px;
  top: 14px;
  font-size: 20px;
  text-align: center;
}
.nav-item{
  position: relative;
  top: 12px;
  margin-left: 10px;
}
.logout{
  position: absolute;
  bottom: 0;
}

table {
    position: absolute;
    display: flex;
    text-align: center;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 60%;
    margin-left: 400px;
    margin-top: 170px;
  }

.names{
    margin-right: 200px;
}


td, th {
    background: rgb(137, 132, 132);
    color: black;
    font-weight: bold;
    height: 65px;
    width: 600px;
    border: 2px solid white;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.15s;
}


.due{
    position: absolute;
    font-weight: bold;
    margin-left: 650px;
    margin-top: 20px;
    font-size: 40px;
}

td:hover{
    background-color: orangered;
    color: white ;
}

.delete{
    transition: background-color 0.15s;
}

.delete:hover{
   background-color: orangered;
   color: white ;
}


.new-tenants{
    position: absolute;
    top: 120px;
    right: 220px;
    background: rgb(137, 132, 132);
    border: 2px solid black;
    border-radius: 12px;
    height: 30px;
    width: 240px;
}

.search-btns{
    position: absolute;
    margin-top: 120px   ;
    margin-left: 400px;
    border: 2px solid black;
    border-radius: 12px;
    width: 250px;
    height: 30px;
    padding-left: 5px;
}

.houses{
    position: absolute;
    margin-left: 400px;
}